body {
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gainsboro;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    flex: auto;
    }    

    #off {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .main {
              width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
            }
        }
